.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.2s;
  text-align: center;
}

.button:hover {
  background-color: #0051cc;
}

